<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./src/jskos2marc.php" colors="true" defaultTestSuite="unit">
  <testsuites>
    <testsuite name="unit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!--filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter-->
</phpunit>
